.EditPage_Container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header {
  width: 100%;
  height: 60px;
  background-color: black;
}

.Edit_Container {
  width: 1024px;
  background-color: moccasin;
}

.Title_Container {
  width: 100%;
  height: 100px;
  background-color: lightpink;
}

.Body_Container {
  width: 100%;
  height: 400px;
  background-color: lightseagreen;
}

.Preview_Container {
  width: 100%;
  height: 400px;
  background-color: cornflowerblue;
}

.Tags_Container {
  width: 100%;
  height: 100px;
  background-color: cornsilk;
}

.Buttons_Container {
  width: 100%;
  height: 100px;
  background-color: azure;
}

.Footer {
  width: 100%;
  height: 278px;
  background-color: black;
}
