.Login_Container {
  width: 100%;
  margin: 0 auto;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(210, 8%, 95%);
}

.Login_Content {
  width: 320px;
  height: 400px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 24px hsla(0, 0%, 0%, 0.05),
    0 20px 48px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.1);
  background-color: white;
}

.Login_Logo_Container {
  padding-bottom: 30px;
}

.Email_Container {
  display: flex;
  flex-direction: column;
  height: 59px;
}

.Password_Container {
  display: flex;
  flex-direction: column;
  height: 59px;
}

.Login_Button {
  padding: 10px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Login_No_Account_Message_Container {
  padding: 40px;
  display: flex;
}

.No_Account_Message {
  font-size: 14px;
  text-align: center;
}

.Login_Link {
  margin-left: 5px;
  color: hsl(206, 100%, 40%);
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  user-select: auto;
}
