.Header {
  width: 100%;
  height: 60px;
  background-color: black;
}

.Footer {
  width: 100%;
  height: 278px;
  background-color: black;
}

.Mypage_Container {
  height: 1000px;
  background-color: aquamarine;
}

.Mypage_UserProfile_Container {
  width: 70%;
  min-width: 600px;
  max-width: 1000px;
  height: 150px;
  background-color: rgb(66, 66, 100);
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

.Mypage_UserProfile_Content {
  background-color: rgb(255, 0, 204);
  display: flex;
  flex-grow: 1;
}

.Mypage_UserProfile_Image {
  width: 96px;
  height: 96px;
  margin: 16px 16px;
}

.Mypage_UserProfile_Info_Container {
  width: 400px;
}

.Mypage_UserProfile_UserName {
  width: 80%;
  height: 50%;
  background-color: blue;
}

.Mypage_UserProfile_Title {
  background-color: wheat;
  width: 100%;
  height: 50%;
}

.Mypage_UserProfile_EditButton {
  background-color: green;
  height: 50px;
  margin: 20px 10px;
}

.MypageEdit_UserInfoEdit_Container {
  background-color: red;
  margin: 70px auto;
  min-width: 600px;
  max-width: 900px;
  width: 60%;
  height: 700px;
  padding: 15px;
}

.MypageEdit_UserInfoEdit_Text_Container {
  width: 80%;
  margin: auto;
  border-bottom: 1px solid gray;
  padding-bottom: 15px;
  background-color: white;
}

.MypageEdit_UserInfoEdit_SecondText_Container {
  width: 80%;
  margin: auto;
  height: 50px;
  padding-top: 15px;
  margin-top: 10px;
  background-color: aqua;
}
.MypageEdit_UserInfoEdit_Title {
  font-size: 20px;
}

.MypageEdit_UserInfoEdit_Form_Container {
  width: 80%;
  height: 550px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid gray;
}

.MypageEdit_UserInfoEdit_FormImage_Container {
  width: 100%;
  height: 40%;
  background-color: greenyellow;
}

.MypageEdit_UserInfoEdit_FormName_Container {
  width: 100%;
  height: 20%;
  background-color: pink;
}
.MypageEdit_UserInfoEdit_FormTitle_Container {
  width: 100%;
  height: 20%;
  background-color: greenyellow;
}
.MypageEdit_UserInfoEdit_FormButton_Container {
  width: 100%;
  height: 10%;
  padding-top: 30px;
  background-color: darkcyan;
}
