.Mypage_Container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.Mypage_UserInfo_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Mypage_List_Container {
  width: 1024px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.Mypage_List_Row {
  width: 50%;
  height: 100%;
}

.Mypage_Title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.Mypage_ListContents > ul {
  list-style-type: none;
  padding-left: 0;
}

/* 
.Mypage_Questions_Container {
  min-width: auto;
  width: 50%;
  height: 100%;
}

.Mypage_Tag_Container {
  width: 40%;
}

.Mypage_BookMark_List_Container {
  width: 50%;
  margin-left: 15px;
} */
