.Mypage_Container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.Mypage_UserInfo_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Mypage_List_Container {
  width: 1024px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.Mypage_List_Row {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 470px;
}

.Mypage_Title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.Mypage_List_Content_Container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(234, 236, 237);
  border-radius: 5px;
  padding: 10px;
  justify-content: space-between;
}

.Mypage_Content_Container {
  display: flex;
  height: 30px;
  align-items: center;
}

.Mypage_Content_Title {
  color: rgb(0, 116, 204);
  font-weight: 500;
  text-decoration: none;
  margin: 10px;
}

/* 
.Mypage_Questions_Container {
  min-width: auto;
  width: 50%;
  height: 100%;
}

.Mypage_Tag_Container {
  width: 40%;
}

.Mypage_BookMark_List_Container {
  width: 50%;
  margin-left: 15px;
} */
