h1{
  margin: 0;
}

a{
  text-decoration: none;
  color: black;
}

.Question_Container{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: white;
}

.Question_Content_Container{
  height: 100%;
  width: 1024px;
  background-color: white;
  padding-top: 15px;
}

.Title_Container{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid hsl(210,8%,90%);
}

.Title_Contents{
  width: 80%;
}

.Ask_Question_Button_Container{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Ask_Question_Button{
  padding: 10px;
  width: 103px;
  height: 37px;
  background-color: hsl(206,100%,52%);
  border: none;
  border-radius: 5px;
  font-size: 13px;
  color: white;
}

.Modify_Data_Info{
  display: flex;
}

.Main_Text_Container{
  margin-top: 15px;
  display: flex;
}

.Main_Text_Aside{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Main_Text_Content{
  margin-left: 20px;
  padding-top: 9px;
  width: 90%;
  background-color: white;
}

.Answer_User_Profil_Container{
display: flex;
justify-content: flex-end;
margin-top: 30px;
margin-right: 70px;
}

.Answer_User_Image{
  width: 42px;
}

.Question_User_Image{
  width: 42px;
}

.Tag_Section{
  display: flex;
  margin-top: 20px;
}

.Tags_Element{
  margin-left: 10px;
}

.Tag_Button{
  font-size: 12px;
  color: hsl(205,47%,42%);
  background-color: hsl(205,46%,92%);
  border-radius: 4px;
  border: none;
  padding: 4px 6px;
}

.Contour_Line{
  margin-top: 20px;
  border-bottom: 1px solid hsl(210,8%,90%);
}

.Comment_Contour_Line{
  display: flex;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 83%;
  padding: 20px;
  margin-top: 15px;
}

.Comment_Contents{
  display: flex;
  border-bottom: 1px solid hsl(210,8%,90%);
  width: 93%;
  align-items: center;
  padding: 3px 20px;
}

.Comment_Container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Answer_Comment_Contents{
  display: flex;
}

.Add_Comment{
  margin-left: 70px;
  margin-top: 15px;
}

.Comment_Add_Button{
  background-color: white;
  border: none;
  color: hsl(210,8%,55%);
  opacity: .8;
  padding: 0 3px 2px;
}

.Submit_Clear_Container{
  margin: 20px 0;
}

.Vote_Icon_Container{
  display: flex;
  flex-direction: column;
}

.Vote_Icon_Container > span {
  display: flex;
  justify-content: center;
}

.Question_User_Profil_Container{
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.None_Activate{
  display: none;
}

.test1{
  width: 30px;
  height: 30px;
  background-color: black;
}

.test2{
  width: 30px;
  height: 30px;
  background-color: pink;
}