.MainHeader {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  /* background-color: black; */
}

.MainHeader_Logo_Container {
  background-color: red;
  height: 100%;
  width: 20%;
  min-width: 166px;
}
.MainHeader_Input_Container {
  height: 100%;
  width: 50%;
  background-color: blue;
  min-width: 200px;
}

.MainHeader_UserInfo_Container {
  height: 100%;
  width: 20%;
  background-color: purple;
  min-width: 120px;
}
.MainHeader_Button_Container {
  height: 100%;
  width: 20%;
  min-width: 120px;
  background-color: yellow;
}
